<div class="container">
  <div class="links">
    <img
      class="profile"
      src="https://pbs.twimg.com/profile_images/1269360421699497986/kfCCyw-K_400x400.jpg"
    />
  </div>
  <div class="rechts">
    <h1>Bas Magré</h1>
    <h2>DevOps</h2>
    <p>
      studeerde Technische informatica/Computer Techniek aan de HAN <br />
      werkt meer dan 10 jaar voor Topicus <br />
      begonnen als software developer bij Topicus Z (Finance) <br />
      vooral bezig automatiseren van releases binnen Topicus Finance
    </p>
  </div>
  <div class="clearfix"></div>
</div>
